body {
	font-family: monospace; 
	background-color: #030935;
}

#canvas {
	position: fixed;
	margin: 0; 
	top: 0; 
	right: 0;
	pointer-events: none; 
}

.button, h2 {
	font-size: 1rem;
	color: #eee; 
	border-radius: 0.3rem; 
	margin: 0.6rem 1rem; 
}

.button {
	padding: 0.3rem 1.3rem; 
	text-align: center; 
	background-color: #92f6a255;
	cursor:pointer; 
	user-select: none;
	display: table;
	transition: margin-left 0.5s; 
}

h2 {
	font-size: 1rem;
	color: #999; 
}

.button:hover {
	background-color: #92f6a235;
}

.button.active {
	margin-left: 2rem;
	background-color: #92f6a285;
}

